@page "/counter"

<h1>Sono il contatore .ciao</h1>

<p role="status">Valore attuale: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount--;
    }
}
