<h2>Sono un componente!!!</h2>

<hr />


<table>
    <tr>
        <td><b>Cognome</b></td>
        <td><b>Nome</b></td>
        <td><b>Eta</b></td>
    </tr>

    <tr>
        <td>Mario</td>
        <td>Rossi</td>
        <td>25</td>
    </tr>

    <tr>
        <td>Carlo</td>
        <td>Verdi</td>
        <td>12</td>
    </tr>


</table>