@page "/admin/home"
@layout AdminLayout


<div class="row">
    <div class="col-md-3">
        <a href="clienti" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">CLIENTI</h4>
                </div>
                <div class="card-body text-center">
                    <i class="bi bi-people-fill" style="font-size: 3rem;"></i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="dipendenti" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">DIPENDENTI</h4>
                </div>
                <div class="card-body text-center">
                    <i class="bi-person-badge-fill" style="font-size: 3rem;"></i>
                </div>
            </div>
        </a>

    </div>

    <div class="col-md-3">
        <a href="richieste" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">RICHIESTE</h4>
                </div>
                <div class="card-body text-center">
                    <i class="bi-clipboard-check-fill" style="font-size: 3rem;"></i>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="aree" class="text-decoration-none text-dark">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0">AREE</h4>
                </div>
                <div class="card-body text-center">
                    <i class="bi-geo-alt-fill" style="font-size: 3rem;"></i>
                </div>
            </div>
        </a>
        
    </div>
</div>



