@page "/calendario{id:int}"
@using StoreShared.Interfaces
@using StoreShared.Models

<h3>Calendario</h3>



@foreach(var richiesta in richieste!)
{
    <div class="card">

    <dl>
        <dt>TITOLO</dt>
        <dd>@richiesta.Titolo</dd>
    </dl>
    <dl>
        <dt>DESCRIZIONE</dt>
        <dd>@richiesta.Descrizione</dd>
    </dl>
    <dl>
        <dt>STATO</dt>
        <dd>@richiesta.Stato</dd>
    </dl>

    </div>

    


    
}

@code {



    [Inject]
    public IRichiesteService? RichiesteService { get; set; }

    [Inject]
    public IDipendentiService? DipendentiService { get; set; }

    public List<Dipendente>? dipendenti = new();
    public List<Richiesta>? richieste = new();

    [Parameter]

    public int Id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        
        var dipendente = await DipendentiService!.GetDipendente(Id);
        richieste = await RichiesteService!.GetRichieste();


        richieste = richieste!.Where(r => r.CodiceDipendente == dipendente!.Codice).ToList();

        

       
        
        

        

    }


}
