@page "/dipendente/{id:int}/home"
@layout DipendenteLayout


<div class="container-fluid">
    <div class="row g-4">
        <div class="col-md-6">
            <a href="calendario/{id}" class="text-decoration-none">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-header bg-primary text-white py-3">
                        <h3 class="text-center mb-0">
                            <i class="bi bi-people-fill me-2"></i>CALENDARIO
                        </h3>
                    </div>
                    <div class="card-body text-center py-5 bg-light">
                        <i class="bi bi-people-fill text-primary" style="font-size: 5rem;"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



