<h3>FormGiocatore</h3>
<div class="mb-3">
    <input type="text" @bind="GiocatoreIns.Name" placeholder="Inserisci il tuo nome" class="form-control mb-2" />
    <input type="text" @bind="GiocatoreIns.Username" placeholder="Inserisci lo username" class="form-control mb-2" />
    <input type="text" @bind="GiocatoreIns.Email" placeholder="Inserisci la tua email" class="form-control mb-2" />

    <button type="button" class="btn btn-outline-primary" @onclick="OnSalva">
        Aggiungi Giocatore
    </button>
</div>