@page "/giocatori"
<h3>Giocatori</h3>
<p>Questa é una schermata per inserire i giocatori</p>

@* <FormGiocatore GiocatoreIns="giocatoreIns" OnSalva="aggiungi" /> *@

<button type="button" class="btn btn-outline-primary" @onclick="() => mostraDettagli(0)">
    Aggiungi Giocatore
</button>



<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Username</th>
            <th>Email</th>
            <th>Bottoni</th>
        </tr>
    </thead>
    <tbody>
        @if (giocatori?.Any() == true)
        {
            for (int i = 0; i < giocatori.Count; i++)
            {
                Giocatore g = giocatori[i];
                <tr>
                    <td>@g.Codice</td>

                    @if (giocatoreSelezionato == g && mostraModifica)
                    {
                        <td><input type="text" @bind="g.Name" class="form-control w-75" /></td>
                        <td><input type="text" @bind="g.Username" class="form-control w-75" /></td>
                        <td><input type="text" @bind="g.Email" class="form-control w-75" /></td>

                        <td>
                            
                           
                            <button class="btn btn-outline-danger" @onclick="() => elimina(g)">Elimina</button>
                        </td>
                    }
                    else
                    {
                        <td>@g.Name</td>
                        <td>@g.Username</td>
                        <td>@g.Email</td>
                        <td>
                            @*  <button class="btn btn-outline-secondary" @onclick="() => modifica(g)">Modifica</button> *@
                           <button class="btn btn-outline-info" @onclick="() => mostraDettagli(g.Codice)">Mostra</button>
                            <button class="btn btn-outline-danger" @onclick="() => elimina(g)">Elimina</button>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

<h3>
    <button class="btn btn-outline-secondary" @onclick="() => leggiDatiAsync()">Leggi</button>
</h3>