@page "/home"
@using FootballBlazor.Client.Models
@inject HttpClient Http
@rendermode InteractiveWebAssembly

@* @inject FootballBlazor.Client.Services.IStorageService localStorage *@

@inject Storage Storage

@inject NavigationManager Navigation


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header bg-dark text-white text-center">
                    <h4>Football Login</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" @bind="credenziali.Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>


                        <input type="password" class="form-control" @bind="credenziali.Password" />
                    </div>

                    <div class="mb-3" style="display:flex;justify-content:center">
                        <button type="button" class="btn btn-outline-success" @onclick="Login">Login</button>
                    </div>



                </div>


            </div>


        </div>

    </div>

</div>
@if (errore != null)
{
    <p>@errore</p>
}
@code {

    // [CascadingParameter]
    // private FootballBlazor.Client.Models.Storage? Storage { get; set; }


    private Shared.Models.Credenziali credenziali = new();
    string errore = string.Empty;

    private async Task Login()
    {

        var chiamata = await Http.PostAsJsonAsync("/api/utenti", credenziali);
        if (chiamata.IsSuccessStatusCode)
        {
            var token = await chiamata.Content.ReadAsStringAsync();

            if (!string.IsNullOrWhiteSpace(token))
            {

                SessioneUtente.Token = token;
                // localStorage.SetValue<string>("token", token);

                Storage?.Token = token;

                Http.DefaultRequestHeaders.Authorization =
                    new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);


                Navigation.NavigateTo("/squadre");
            }
            else
            {
                errore = "Il token non é valido.";
            }
        }
        else
        {
            errore = "Credenziali errate!";
        }




    }

}

