@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Benvenuti nello Store</h1>

<table class="table table-striped table-bordered table-hover" style="font-size:0.9rem">
    <thead>
        <tr>
        <th class="text-center">Titolo</th>

            <th class="text-center">Descrizione</th>
            <th class="text-center">Azioni</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>
                Squadre : Milan,Juve,Inter,Roma
            </td>
            <td>
                Questa applicazione permette di visualizzare le squadre , con funzionalità implementate (aggiungere squadra, rimuovere squadra ecc...)
            </td>
            <td class="text-center" style="width:8rem">
                @* <button class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-mobile-android"></i> Scarica
                </button> *@

                <a href="apk/squadre.apk" class="btn btn-outline-primary btn-sm" style="width:6rem"><i class="fa fa-mobile-android"></i> Scarica</a>

            </td>

        </tr>
    </tbody>
</table>
