
@page "/prima"



<h1>Sono la prima pagina...</h1>

<hr />


<div class="row">

    <div class="col-lg-3">
        <b>colonna1</b>
    </div>

    <div class="col-lg-3">
        <b>colonna2</b>
    </div>

    <div class="col-lg-6">
        <b>colonna3</b>
    </div>


</div>



<hr />


<Comp1></Comp1>

<hr />


<BootstrapSamples></BootstrapSamples>


